<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1 style="font-family: 'Times New Roman', Times, serif;">Logged out successfully!</h1>
  </div>
</main>

<%- include ('../partials/footer') %>