<!-- <%- include ('../partials/head') %>
<%- include ('../partials/menu') %> -->

<main>
  <div class="container">
    <h3>Register</h3>
    
    <form action="/register" method="POST">
        
        <!-- Email input-->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" />
        </div>
        <!-- Username  input-->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" />
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" />
        </div>
        <!-- Register button -->
        <div class="float-end">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

    </form>
    <!-- <div class="col"><%- include ('../partials/message') %></div> -->
  </div>
</main>

<!-- <%- include ('../partials/footer') %> -->