<!-- Include Header here -->
<%- include ('../partials/header') %> 
<!-- Include Navbar menu here -->
<%- include ('../partials/menu') %>

<main>
    <div class ="container">
        <h1><centre>Dashboard</centre></h1>
        <!-- API 1 here (ISS)-->

        <!-- API 2 here (Astronauts)-->

        <!-- API 3 here (Space storms)-->
    </div>
</main>


