<!-- <%- include ('../partials/head') %>
<%- include ('../partials/menu') %> -->

<main>
  <div class="container">
    <h3>Login</h3>
    
    <form action="/login" method="post">

        <!-- Email input -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <!-- Password input -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <!-- Login button -->
        <div class="float-end">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

    <!-- Link to register if they don't have an account -->
    <p>Don't have an account? <a href="/register">Register</a></p>

    <!-- <div class="col"><%- include ('../partials/message') %></div> -->
  </div>
</main>

<!-- <%- include ('../partials/footer') %> -->