body {
    height: 100%;
    align-items : center;

    width: 100%;
    background-image: url(../img/skyBackground.jpg);

    
}

#title {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}

.content {
    width: 900px;
    text-align: center;
    margin: auto;
}

#content {
    font-size: 1.0rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.main-img {
    width: 300px;
    
}

@media screen and (max-width: 1028px) {
    .content {
        height: 100%;
        width: 100%;
    }

    #content {
        font-size: 2rem;
    }

    .main-img {
        width: 980px;
    }
}